<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
</header>

<main>
  <section class="col-md-12 parentSection">
      <section class="col-md-3">
          <app-piechart (chartClick)="chartClicked($event)"></app-piechart>
      </section>
      <section class="col-md-9">
        <div class="search_text">
          <input type="text" style="width: 275px;" [(ngModel)]="searchText" placeholder="Enter text to filter grid">
        </div>
        <app-data-grid [searchText]="searchText" (UpdateOrders)="UpdateOrders($event)"></app-data-grid>
      </section>
  </section>
</main>

